* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* contains all the body*/
.container {
  width: 72%;
  margin: 0 auto;
}

/* header */
.head {
  min-height: 64px;
}

#logo {
  height: 56px;
  margin-bottom: 24px ;
}

nav li {
  display: inline-block;
  color: rgb(182,182,182);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 16px;
}

nav li:hover, nav li:active {
  color: rgb(191,76,46);
}


.hero-area {
  min-height: 600px;
  margin: 32px 0;
  background-image: url('../img/banner.jpg');
  background-color: rgb (203, 188, 182);
  border-radius: 8px;
  background-size: cover;
  background-position: center ;
}

.jumbotron {
  color: white;
  margin-left: 56px;
  width: 60%;
  float: left;
  padding-top: 27%;
}

.jumbotron .text1 {
  font-size: 40px;
  font-weight: 800;
}

/* main area */
.main-area {
  background-color: rgb(1,134,255);
  margin-bottom: 20px;
}

.top-content {
  height: 64px;
  background-color: rgb(171,207,231);
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.left, .center, .right {
  min-height: 500px;
  margin: 18px 0;
  background-color: rgb(171,207,231); 
  float: left;
}

.left, .right {
  width: 20%;
}

.center {
  width: 56%;
  margin-right: 2%;
  margin-left: 2%;
}

/* footer */
footer {
  height: 48px;
  background-color: rgb(136,1,254);
}