* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* contains all the body*/
.container {
  width: 72%;
  margin: 0 auto;
}

/* header */
.head {
  min-height: 64px;
}

#logo {
  height: 56px;
  margin-bottom: 24px ;
}

/* nav */
nav li {
  display: inline-block;
  color: rgb(182,182,182);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 16px;
}

nav li:hover, nav li:active {
  color: rgb(191,76,46);
}

/* jumbotron */
.hero-area {
  min-height: 600px;
  margin: 32px 0;
  background-image: url('../img/banner.jpg');
  background-color: rgb (203, 188, 182);
  border-radius: 8px;
  background-size: cover;
  background-position: center ;
}

.jumbotron {
  color: white;
  margin-left: 56px;
  width: 60%;
  float: left;
  padding-top: 27%;
}

.jumbotron .text1 {
  font-size: 40px;
  font-weight: 800;
}

/* main area */
.main-area {
  margin-bottom: 24px;
}

.top-content {
  min-height: 64px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.top-content > p {
  color: rgb(182,182,182);
}

/* section of images and text */
.column {
  margin: 32px 0;
  float: left;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.c1 {
  width: 20%;
  margin-right: 1%;
}

.c2 {
  width: 58%;
  margin-right: 1%;
}

.c3 {
  width: 20%;
}

.left, .center, .right {
  height: 224px;
  border-radius: 8px;
  background-size: cover;
  background-position: center ;
}
  

.left .colbox, .center .colbox, .right .colbox{
  height: 224px;
  background-color: rgba(204,204,204, .5);
  border-radius: 8px;
}

.left {
  background-image: url('../img/img-1.jpg');
}

.center {
  background-image: url('../img/banner-2.jpg');
}

.right {
  background-image: url('../img/img-3.jpg');
}

.boldt {
  font-weight: 600;
  margin: 10px auto;
}

/* footer */
 footer{
  height: 48px;
}

.footext {
  text-align: center;
}

.heart::after{
  content: '\2764';
  color: red;
}